<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Cobraza RCD</title>
</head>
<body>
    <div class="container">
        <div class="text-center mt-5">            
            <img src="./img/logo-rcd.png" alt="Logo RCD" class="logo">
        </div>
        <h1 class="text-center text-white">No se encuentra el registro, favor de contactarse con su agente de venta.</h1>
    </div>
</body>
</html>